[submodule "addins/riscv-dv"]
  path = addins/riscv-dv
  url = https://github.com/google/riscv-dv
[submodule "addins/embench-iot"]
  path = addins/embench-iot
  url = https://github.com/embench/embench-iot
  branch = embench-1.0-branch
[submodule "addins/coremark"]
  path = addins/coremark
  url = https://github.com/eembc/coremark
[submodule "addins/vivado-boards"]
  path = addins/vivado-boards
  url = https://github.com/Digilent/vivado-boards/
[submodule "addins/riscv-arch-test"]
  path = addins/riscv-arch-test
  url = https://github.com/riscv-non-isa/riscv-arch-test
  branch = dev
[submodule "addins/branch-predictor-simulator"]
  path = addins/branch-predictor-simulator
  url = https://github.com/rosethompson/branch-predictor-simulator
[submodule "addins/verilog-ethernet"]
  sparseCheckout = true
  path = addins/verilog-ethernet
  url = https://github.com/rosethompson/verilog-ethernet.git
[submodule "addins/berkeley-softfloat-3"]
  path = addins/berkeley-softfloat-3
  url = https://github.com/ucb-bar/berkeley-softfloat-3.git
[submodule "addins/berkeley-testfloat-3"]
  path = addins/berkeley-testfloat-3
  url = https://github.com/ucb-bar/berkeley-testfloat-3
  ignore = untracked
[submodule "addins/riscv-arch-test-cvw"]
  path = addins/riscv-arch-test-cvw
  url = https://github.com/riscv-non-isa/riscv-arch-test
  branch = act4
[submodule "ahb3lit_wb_bridge"]
  path = addins/ahb3lite_wb_bridge
  url = https://github.com/vfinotti/ahb3lite_wb_bridge
  branch = master
[submodule "axi-vga"]
  path = addins/pulp/axi-vga
  url = https://github.com/pulp-platform/axi_vga.git
  branch = main
[submodule "common_cells"]
  path = addins/pulp/common_cells
  url = https://github.com/pulp-platform/common_cells.git
  branch = master
[submodule "register_interface"]
  path = addins/pulp/register_interface
  url = https://github.com/pulp-platform/register_interface.git
  branch = master
[submodule "axi"]
  path = addins/pulp/axi
  url = https://github.com/pulp-platform/axi.git
  branch = main
[submodule "addins/pulp/axi-vga"]
	path = addins/pulp/axi-vga
	url = https://github.com/pulp-platform/axi_vga.git
	branch = main
[submodule "addins/pulp/common_cells"]
	path = addins/pulp/common_cells
	url = https://github.com/pulp-platform/common_cells.git
	branch = master
[submodule "addins/pulp/register_interface"]
	path = addins/pulp/register_interface
	url = https://github.com/pulp-platform/register_interface.git
	branch = master
[submodule "addins/pulp/axi"]
	path = addins/pulp/axi
	url = https://github.com/pulp-platform/axi.git
	branch = main
